adfdevecom009/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfdevecom009"
		},
		"LS_SqlServerTable_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_SqlServerTable'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CSV_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Amazon Sale Report.csv",
						"folderPath": "amazon_sales_report",
						"fileSystem": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "index",
						"type": "String"
					},
					{
						"name": "Order ID",
						"type": "String"
					},
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					},
					{
						"name": "Fulfilment",
						"type": "String"
					},
					{
						"name": "Sales Channel ",
						"type": "String"
					},
					{
						"name": "ship-service-level",
						"type": "String"
					},
					{
						"name": "Style",
						"type": "String"
					},
					{
						"name": "SKU",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "ASIN",
						"type": "String"
					},
					{
						"name": "Courier Status",
						"type": "String"
					},
					{
						"name": "Qty",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					},
					{
						"name": "ship-city",
						"type": "String"
					},
					{
						"name": "ship-state",
						"type": "String"
					},
					{
						"name": "ship-postal-code",
						"type": "String"
					},
					{
						"name": "ship-country",
						"type": "String"
					},
					{
						"name": "promotion-ids",
						"type": "String"
					},
					{
						"name": "B2B",
						"type": "String"
					},
					{
						"name": "fulfilled-by",
						"type": "String"
					},
					{
						"name": "Unnamed: 22",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSVFILES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CSVFILES",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "index",
						"type": "String"
					},
					{
						"name": "skuode",
						"type": "String"
					},
					{
						"name": "designno",
						"type": "String"
					},
					{
						"name": "Stock",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "Color",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CloudWarehouseCompersionChart')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_DS_CloudWarehouseCompersionChart",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Cloud Warehouse Compersion Chart.csv",
						"folderPath": "cloud_warehouse_compersionchart",
						"fileSystem": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "index",
						"type": "String"
					},
					{
						"name": "Shiprocket",
						"type": "String"
					},
					{
						"name": "Unnamed: 1",
						"type": "String"
					},
					{
						"name": "INCREFF",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CloudWarehouseCompersionChart_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CloudWarehouseCompersionChart_PARQUET",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "cloud_warehouse_compersion_chart",
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_INTERNATIONAL_SALES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_INTERNATIONAL_SALES",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "International sale Report.csv",
						"folderPath": "international_sale_report",
						"fileSystem": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "index",
						"type": "String"
					},
					{
						"name": "DATE",
						"type": "String"
					},
					{
						"name": "Months",
						"type": "String"
					},
					{
						"name": "CUSTOMER",
						"type": "String"
					},
					{
						"name": "Style",
						"type": "String"
					},
					{
						"name": "SKU",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "PCS",
						"type": "String"
					},
					{
						"name": "RATE",
						"type": "String"
					},
					{
						"name": "GROSS AMT",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_INTERNATIONAL_SALES_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_INTERNATIONAL_SALES_PARQUET",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "International_sale_report",
						"folderPath": "International_sale_report",
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "index",
						"type": "UTF8"
					},
					{
						"name": "order_id",
						"type": "UTF8"
					},
					{
						"name": "date",
						"type": "UTF8"
					},
					{
						"name": "status",
						"type": "UTF8"
					},
					{
						"name": "fulfilment",
						"type": "UTF8"
					},
					{
						"name": "sales_channel",
						"type": "UTF8"
					},
					{
						"name": "ship_service_level",
						"type": "UTF8"
					},
					{
						"name": "Style",
						"type": "UTF8"
					},
					{
						"name": "sku",
						"type": "UTF8"
					},
					{
						"name": "category",
						"type": "UTF8"
					},
					{
						"name": "size",
						"type": "UTF8"
					},
					{
						"name": "asin",
						"type": "UTF8"
					},
					{
						"name": "courier_status",
						"type": "UTF8"
					},
					{
						"name": "qty",
						"type": "UTF8"
					},
					{
						"name": "currency",
						"type": "UTF8"
					},
					{
						"name": "amount",
						"type": "UTF8"
					},
					{
						"name": "ship_city",
						"type": "UTF8"
					},
					{
						"name": "ship_state",
						"type": "UTF8"
					},
					{
						"name": "ship_postal_code",
						"type": "UTF8"
					},
					{
						"name": "ship_country",
						"type": "UTF8"
					},
					{
						"name": "promotion_ids",
						"type": "UTF8"
					},
					{
						"name": "b2b",
						"type": "UTF8"
					},
					{
						"name": "fulfilled_by",
						"type": "UTF8"
					},
					{
						"name": "unnamed_22",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_May2022')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_May2022",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "May-2022.csv",
						"folderPath": "may_2022",
						"fileSystem": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "index",
						"type": "String"
					},
					{
						"name": "DATE",
						"type": "String"
					},
					{
						"name": "Months",
						"type": "String"
					},
					{
						"name": "CUSTOMER",
						"type": "String"
					},
					{
						"name": "Style",
						"type": "String"
					},
					{
						"name": "SKU",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "PCS",
						"type": "String"
					},
					{
						"name": "RATE",
						"type": "String"
					},
					{
						"name": "GROSS AMT",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_May2022_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_May2022_PARQUET",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "may_2022",
						"folderPath": "may_2022",
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_PAR_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_PAR_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "amazon_sales_report",
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_PAR_ADLS1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_PAR_ADLS_BLOB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "SALESREPORT",
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_RESRAPI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_RESRAPI",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_RESTAPI_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_RESTAPI_PAR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "plmarch2021",
						"folderPath": "restdata",
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_PAR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_PAR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "index",
						"type": "UTF8"
					},
					{
						"name": "order_id",
						"type": "UTF8"
					},
					{
						"name": "date",
						"type": "UTF8"
					},
					{
						"name": "status",
						"type": "UTF8"
					},
					{
						"name": "fulfilment",
						"type": "UTF8"
					},
					{
						"name": "sales_channel",
						"type": "UTF8"
					},
					{
						"name": "ship_service_level",
						"type": "UTF8"
					},
					{
						"name": "Style",
						"type": "UTF8"
					},
					{
						"name": "sku",
						"type": "UTF8"
					},
					{
						"name": "category",
						"type": "UTF8"
					},
					{
						"name": "size",
						"type": "UTF8"
					},
					{
						"name": "asin",
						"type": "UTF8"
					},
					{
						"name": "courier_status",
						"type": "UTF8"
					},
					{
						"name": "qty",
						"type": "UTF8"
					},
					{
						"name": "currency",
						"type": "UTF8"
					},
					{
						"name": "amount",
						"type": "UTF8"
					},
					{
						"name": "ship_city",
						"type": "UTF8"
					},
					{
						"name": "ship_state",
						"type": "UTF8"
					},
					{
						"name": "ship_postal_code",
						"type": "UTF8"
					},
					{
						"name": "ship_country",
						"type": "UTF8"
					},
					{
						"name": "promotion_ids",
						"type": "UTF8"
					},
					{
						"name": "b2b",
						"type": "UTF8"
					},
					{
						"name": "fulfilled_by",
						"type": "UTF8"
					},
					{
						"name": "unnamed_22",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CSV_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "amazon_sales_report",
						"fileSystem": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "index",
						"type": "String"
					},
					{
						"name": "Order ID",
						"type": "String"
					},
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					},
					{
						"name": "Fulfilment",
						"type": "String"
					},
					{
						"name": "Sales Channel ",
						"type": "String"
					},
					{
						"name": "ship-service-level",
						"type": "String"
					},
					{
						"name": "Style",
						"type": "String"
					},
					{
						"name": "SKU",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "ASIN",
						"type": "String"
					},
					{
						"name": "Courier Status",
						"type": "String"
					},
					{
						"name": "Qty",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					},
					{
						"name": "ship-city",
						"type": "String"
					},
					{
						"name": "ship-state",
						"type": "String"
					},
					{
						"name": "ship-postal-code",
						"type": "String"
					},
					{
						"name": "ship-country",
						"type": "String"
					},
					{
						"name": "promotion-ids",
						"type": "String"
					},
					{
						"name": "B2B",
						"type": "String"
					},
					{
						"name": "fulfilled-by",
						"type": "String"
					},
					{
						"name": "Unnamed: 22",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage19",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "index",
						"type": "UTF8"
					},
					{
						"name": "order_id",
						"type": "UTF8"
					},
					{
						"name": "date",
						"type": "UTF8"
					},
					{
						"name": "status",
						"type": "UTF8"
					},
					{
						"name": "fulfilment",
						"type": "UTF8"
					},
					{
						"name": "sales_channel",
						"type": "UTF8"
					},
					{
						"name": "ship_service_level",
						"type": "UTF8"
					},
					{
						"name": "Style",
						"type": "UTF8"
					},
					{
						"name": "sku",
						"type": "UTF8"
					},
					{
						"name": "category",
						"type": "UTF8"
					},
					{
						"name": "size",
						"type": "UTF8"
					},
					{
						"name": "asin",
						"type": "UTF8"
					},
					{
						"name": "courier_status",
						"type": "UTF8"
					},
					{
						"name": "qty",
						"type": "UTF8"
					},
					{
						"name": "currency",
						"type": "UTF8"
					},
					{
						"name": "amount",
						"type": "UTF8"
					},
					{
						"name": "ship_city",
						"type": "UTF8"
					},
					{
						"name": "ship_state",
						"type": "UTF8"
					},
					{
						"name": "ship_postal_code",
						"type": "UTF8"
					},
					{
						"name": "ship_country",
						"type": "UTF8"
					},
					{
						"name": "promotion_ids",
						"type": "UTF8"
					},
					{
						"name": "b2b",
						"type": "UTF8"
					},
					{
						"name": "fulfilled_by",
						"type": "UTF8"
					},
					{
						"name": "unnamed_22",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SqlServerTable')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('LS_SqlServerTable_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ADLS_CSV_BULK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPY_International sale Reportcsv",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "index",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "index",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DATE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Months",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Months",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CUSTOMER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CUSTOMER",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Style",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Style",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SKU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SKU",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Size",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Size",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "PCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PCS",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RATE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "GROSS AMT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GROSSAMT",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_INTERNATIONAL_SALES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_INTERNATIONAL_SALES_PARQUET",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CPY_May2022",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CPY_International sale Reportcsv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "index",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "index",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DATE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Months",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Months",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CUSTOMER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CUSTOMER",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Style",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Style",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SKU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SKU",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Size",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Size",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "PCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PCS",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RATE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "GROSS AMT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GROSSAMT",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_May2022",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_May2022_PARQUET",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CPY_Amazon Sale Report",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CPY_May2022",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "index",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "index",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Order ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OrderID",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Fulfilment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Fulfilment",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Sales Channel ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Saleschannel ",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ship-service-level",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ship_service_level",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Style",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Style",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SKU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SKU",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Size",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Size",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ASIN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ASIN",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Courier Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CourierStatus",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Qty",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Qty",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "currency",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Amount",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ship-city",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ship_city",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ship-state",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ship_state",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ship-postal-code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ship_postal_code",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ship-country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ship_country",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "promotion-ids",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "promotion_ids",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "B2B",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "B2B",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "fulfilled-by",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fulfilled_by",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AmazonSaleReport",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AmazonSaleReport_PARQUET",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_INTERNATIONAL_SALES')]",
				"[concat(variables('factoryId'), '/datasets/DS_INTERNATIONAL_SALES_PARQUET')]",
				"[concat(variables('factoryId'), '/datasets/DS_May2022')]",
				"[concat(variables('factoryId'), '/datasets/DS_May2022_PARQUET')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CSVFILES_VALIDATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata_CSVFILES",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_CSVFILES",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Metadata_CSVFILES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata_CSVFILES').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name,'csv')\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter1').output.Value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFileName": {
													"value": "@item().Name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_CSVFILES",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Parquet1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_CSVFILES')]",
				"[concat(variables('factoryId'), '/datasets/Parquet1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CSV_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "index",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "index",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Order ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "order_id",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "status",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Fulfilment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fulfilment",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Sales Channel ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sales_channel ",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ship-service-level",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ship_service_level",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Style",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Style",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SKU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sku",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "category",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Size",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "size",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ASIN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "asin",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Courier Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "courier_status",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Qty",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "qty",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "currency",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "amount",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ship-city",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ship_city",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ship-state",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ship_state",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ship-postal-code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ship_postal_code",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ship-country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ship_country",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "promotion-ids",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "promotion_ids",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "B2B",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "b2b",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "fulfilled-by",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fulfilled_by",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Unnamed: 22",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "unnamed_22",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_PAR_ADLS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_PAR_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CSV_BLOB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_BLOB_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_PAR_ADLS1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_PAR_ADLS1')]"
			]
		}
	]
}